<aside class="col-12 col-md-12 col-xl-3">
    <div class="sidebar box-outer sticky-column">
        <!-- My photo -->
        <div class="sidebar__base-info">
            <figure class="avatar-box">
                <img src="{{ asset('assets/images/my-avatar.png') }}" alt="Remi Tiertant">
            </figure>

            <div class="text-xl-center">
                <h3 class="title title--h3 sidebar__name">Remi Tiertant</h3>
                <div class="badge">Developpeur PHP Symfony</div>
            </div>

            <button class="btn btn--small btn--icon-right sidebar__btn js-btn-toggle"><span>Show Contacts</span><i class="feathericon-chevron-down"></i></button>
        </div>

        <div class="sidebar__additional-info js-show">
            <div class="separation"></div>
            <ul class="details-info">
                <!-- Email -->
                <li class="details-info__item">
                    <span class="box icon-box"><i class="font-icon icon-envelope"></i></span>
                    <div class="contacts-block__info">
                        <span class="overhead">Email</span>
                        <a class="text-overflow" href="mailto:remi.tiertant@gmail.com" title="remi.tiertant@gmail.com">remi.tiertant@gmail.com</a>
                    </div>
                </li>
                <!-- Phone -->
                <li class="details-info__item">
                    <span class="box icon-box"><i class="font-icon icon-phone"></i></span>
                    <div class="contacts-block__info">
                        <span class="overhead">Téléphone</span>
                        <span class="text-overflow" title="06 28 49 61 49">06 28 49 61 49</span>
                    </div>
                </li>

                <!-- Location -->
                <li class="details-info__item">
                    <span class="box icon-box"><i class="font-icon icon-location"></i></span>
                    <div class="contacts-block__info">
                        <span class="overhead">Localisation</span>
                        <span class="text-overflow" title="Métropole de Lille">Métropole de Lille</span>
                    </div>
                </li>
            </ul>
            <div class="separation d-xl-none"></div>

            <!-- Social -->
            {% include 'home/socials.html.twig' %}
        </div>
    </div>
</aside>
