<div id="about" class="tab-pane fade show active _tabcontent _active" role="tabpanel" aria-labelledby="about-tab">
    <!-- About Me -->
    {% include 'about/about_me/about_me.html.twig' %}
    {% include 'about/expertise/_expertises.html.twig' %}
    {% include 'about/recommendation/recommendations.html.twig' %}
    {% include 'about/client/clients.html.twig' %}
</div>
