<div id="resume" class="tab-pane fade _tabcontent" role="tabpanel" aria-labelledby="resume-tab">
    <div class="pb-3">
        <h1 class="title title--h1 title__separate">{{ 'nav.resume'|trans }}</h1>
    </div>

    {% include 'resume/education/_educations.html.twig' %}
    {% include 'resume/experience/_experiences.html.twig' %}
    {% include 'resume/skill/_skills.html.twig' %}
</div>
