<!-- Experience -->
<h2 class="title title--h2 d-flex align-items-center justify-content-between">
    <span><span class="box icon-box"><i class="font-icon feathericon-briefcase"></i></span>{{ 'resume.experiences.title'|trans }}</span>
    {% if is_granted('ROLE_ADMIN') %}
        <button type="button" class="btn js-open-crud-modal" data-url="{{ path('experience_new') }}">
            <i class="feathericon-plus"></i> {{ 'global.add'|trans }}
        </button>
    {% endif %}
</h2>
<div class="timeline">
    {% for experience in experiences %}
        {% include 'components/_timeline_item.html.twig' with {
            'title': experience.company ~ ' - ' ~ experience.title,
            'startDate': experience.startDate,
            'endDate': experience.endDate,
            'description': experience.description,
            'editPath': path('experience_edit', {id: experience.id}),
            'deletePath': path('experience_delete', {id: experience.id}),
            'deleteTokenName': 'delete_experience_' ~ experience.id
        } %}
    {% endfor %}
</div>

