<!-- Skills -->
<h2 class="title title--h2 mt-3">Mes compétences</h2>
<div class="box box-inner mb-0">
    {% if skills is defined and skills|length > 0 %}
        {% for skill in skills %}
            <div class="progress">
                <div class="progress-text"><span>{{ skill.name }}</span> {{ skill.percentage }}%</div>
                <div class="progress-bar"><span role="progressbar" aria-valuenow="{{ skill.percentage }}" aria-valuemin="0" aria-valuemax="100"></span></div>
            </div>
        {% endfor %}
    {% else %}
        <p>Aucune compétence pour le moment.</p>
    {% endif %}
</div>
