apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: uploads
  namespace: cv-prod
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 2Gi
  storageClassName: local-path
