{% extends 'partials/_form_modal_base.html.twig' %}

{% set form_id = 'skill-form' %}

{% block form_body %}
    <div class="form-group col-12 col-md-6">{{ form_row(form.name, {
        'label': ('resume.skill.form.name.label')|trans,
        'attr': {'class': 'input form-control'}
    }) }}</div>
    <div class="form-group col-12 col-md-6">{{ form_row(form.percentage, {
        'label': ('resume.skill.form.percentage.label')|trans,
        'attr': {'class': 'input form-control'}
    }) }}</div>
    <div class="form-group col-12 col-md-4">{{ form_row(form.position, {
        'label': ('resume.skill.form.position.label')|trans,
        'attr': {'class': 'input form-control'}
    }) }}</div>
{% endblock %}
